<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/themes']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">BOOTSTRAP THEMES</a>
  <a [routerLink]="['/seeds']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ANGULAR 2(+) SEEDS</a>
</nav>
