<p>Temas preparados para angular 2 (o mayores versiones) que vale la pena tener en cuenta para votación y evaluación posterior:</p>

<h2 i18n>BootStrap Themes (top picks)</h2>
<ul>
  <li><a href="http://themes.getbootstrap.com/preview/?theme_id=1696" target="blank">Beagle bootstrap theme (live preview)</a></li>
  <li><a href="http://themes.getbootstrap.com/preview/?theme_id=1692" target="blank">Maisonnette Live Demo (Form Wizard)</a></li>
</ul>


<h2 i18n>Temas específicos elegidos (para live preview)</h2>
<ul>
  <li>
    <a href="https://genesisui.com/demo/clever/1.8.14/bootstrap4-angular5/#/forms/advanced-forms" target="blank">
      Clever Live Demo (forms)
    </a>
  </li>
  <li>
    <a href="http://wrapbootstrap.com/preview/WB0KGF618" target="blank">
      Assist Live Demo (fonto)
    </a>
    <ul>
      <li>
        Es es de mayor semejanza que he encontrado con respecto al inspinia (actual)
      </li>
      <li>
        Dashboard animado 
      </li>
      <li>
        Iconografía - colores
      </li>
    </ul>
  </li>
</ul>


<h2 i18n>Galería completa (mejores temas evaluados por hackernoon)</h2>
<ul>
  <li>
    <a href="https://hackernoon.com/12-best-premium-angular-4-admin-templates-7667a65605ca" target="blank">
      Buena Galería
    </a>
    de temas administrativos basados en boostrap e implementados con angular 4 la mayoría.
  </li>
</ul>
